@font-face {
    font-family: BNMighty;
    src: url(font/BNMighty.otf);
}

@font-face {
    font-family: Happy Times;
    src: url(font/happy-times-NG_italic_master.otf);
}

.body-index{
    background-color: #f3a732;
}

.body-p1{
    background-color: #db5eab; 
    overflow-x: hidden;
    margin-left: 2%;
    margin-top: 2%;
}

#food{
    font-size: 24px;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 52%;
}

#directions{
    position: absolute;
    width: 300px;
    top: 42%;
    left: 24%;
}

.body-p2{
    overflow-x: hidden;
    background-color: #f6f1ee;
    margin-left: 2%;
    margin-top: 2%;
}

#pw1{
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 4%;
    left: 60%;
}

#pw2{
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 4%;
    left: 74%;
}

#pw3{
    border-radius: 10px;
    width: 200px;
    position: absolute;
    top: 73%;
    left: 68%;
}

#pw4{
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 73%;
    left: 79%;
}

#pw5{
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 102%;
    left: 39%;
}

#pw6{
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 102%;
    left: 53%;
}

#story1{
    position: absolute;
    width: 250px;
    top: 20%;
    left: 51%;
}

#story2{
    position: absolute;
    width: 250px;
    top: 9%;
    left: 83%;
}

#story3{
    position: absolute;
    width: 250px;
    top: 60%;
    left: 73%;
}

#story4{
    position: absolute;
    width: 250px;
    top: 85%;
    left: 80%;
}

#story5{
    position: absolute;
    width: 250px;
    top: 83%;
    left: 43%;
}

#story6{
    position: absolute;
    width: 250px;
    top: 110%;
    left: 53%;
}

#watcher{
    margin-top: 5%;
}
 
#eyes{
    width: 300px;
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 2;
}

#sonder{
    font-size: 21px;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 68%;
    top: 110%;
}

.body-p3{
    background-color: #febb2d; 
    overflow-x: hidden;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
}

#playlist{
    list-style: none;
    font-family: Happy Times;
    font-size: 28px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

#speaker{
    width: 200px;
    position: absolute;
    border-radius: 100%;
    top: 58%;
    left: 53%;
}

#concerts{
    justify-content: space-around;
}

#concert1{
    height: 20%;    
    border-radius: 2%;
}

#concert2{
    height: 20%;    
    border-radius: 2%;
}

#concert3{
    height: 20%;    
    border-radius: 2%;
}

.body-p4{
    overflow-x: hidden;
    background-color: #f6f1ee;
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.movie{
    width: 25%;
    justify-content: space-around;
    border-radius: 2%;
}

#moviecont{
    justify-content: center;
}

#gentleman{
    width: 27%;
    transform: rotate(7deg);
    position: absolute;
    top: 1%;
    left: 60%;
}

.body-p5{
    background-color: #fe0000;
    display: flex;
    overflow-x: hidden;
    margin-left: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    display: flex;
}
.body-p6{
    
}

.body-back{
    background-image: url("images/IMG_8476.jpeg");
    object-fit: contain;
}

#joke{
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.container-index{
    display: flex;
    overflow-x: hidden;
    margin: auto;
    width: 70%;
    color: #582b0b;
}

#START{
    width: fit-content;
    border-radius: 5%;
    font-size: 72px;
    font-family: Happy Times;
    background-color: #582b0b;
    color: #f3a732;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 70%;
    left: 45%;
}

#hello{
    justify-content: center;
}

#receipt{
    height: 1000px;
    transform: rotate(-15deg);
    position: absolute;
    left: 10%;
    top: 55%;
    z-index: 0;
}

#oyster{
    height: 700px;
    transform: rotate(15deg);
    position: absolute;
    left: 30%;
    top: 55%;
    z-index: -1;
}

#donut{
    height: 550px;
    transform: rotate(-15deg);
    position: absolute;
    left: 57%;
    top: 80%;
    z-index: 0;
}

#squid{
    height: 900px;
    transform: rotate(-35deg);
    position: absolute;
    left: 75%;
    top: 65%;
    z-index: 0;
}

#kabob{
    height: 1000px;
    transform: rotate(125deg);
    position: absolute;
    left: -2%;
    top: 110%;
    z-index: 0;
}

#pie{
    height: 650px;
    transform: rotate(125deg);
    position: absolute;
    left: 57%;
    top: 125%;
    z-index: 0;
}

#shrimp{
    height: 850px;
    position: absolute;
    transform: rotate(7deg);
    left: 70%;
    top: 8%;
    z-index: 0;
}

#croissant{
    height: 500px;
    position: absolute;
    transform: rotate(-150deg);
    left: -10%;
    top: 28%;
    z-index: 0;
}

#cheese{
    height: 450px;
    position: absolute;
    transform: rotate(7deg);
    left: 37%;
    top: 170%;
    z-index: 0;
}

#pretzel{
    height: 675px;
    position: absolute;
    transform: rotate(-15deg);
    left: 34%;
    top: 110%;
    z-index: 0;
}

a{
    text-decoration: none;
}

a:visited{
    color: #f3a732;
}

h1{
    font-family: BNMighty;
    font-size: 325px;
    flex-wrap: wrap;
    margin-bottom: 0%;
}

h2{
    font-family: Happy Times;
    font-size: 42px;
    flex-wrap: wrap;
    margin-top: 0%
}

#begin{
    font-family: ;
    font-size: 36px;
}

@media only screen and (max-width: 1000px){
    body{
        width: 1000px;
        margin: auto;
    }
    
    .container{
        padding-top: 0px;
    }
    figure.item{
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 600px){
    body{
        width: 100%;
        margin: auto;
    }
    
    .container{
        padding-top: 0px;
    }
    figure.item{
        width: 600px;
        height: 600px;
    }
}

/* colors: 
#4366a8 blue
#56d58d seafoam green
#582b0b brown
#a08d20 mud green
#da2e18 dark red
#db5eab dark pink
#ee6636 orange
#f3a732 turmeric
#fe0000 red
#febb2d yellow
#ffd3d4 light pink
 */